.photo-collection-preview {
    &-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 3rem;
        margin-bottom: 5rem;
    }

    &-title {
        font-size: 2.4rem;
        margin-bottom: 1.3rem;
        grid-column: 1 / -1;
    }
}