.IconContainer {
    position: relative;
    cursor: pointer;

    &>.counter {
        position: absolute;
        left: 8%;
        top: 14%;
        color: white;
        width: 100%;
        height: 100%;
        text-align: center;
    }
}