.SignInRegistrationContainer {
    margin-top: 4rem;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 830px) {
    .SignInRegistrationContainer {
        flex-direction: column;
    }
}