.SignInContainer {
    width: 45%;
}

@media (max-width: 830px) {
    .SignIn {
        width: auto;
    }
}

.formGroup {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    height: 28rem;
    justify-content: space-between;
}

.instructions {
    font-size: 1.5rem;
    margin-top: 1.3rem;
}

.submitButtonGroup {
    display: flex;
    justify-content: space-between;
}