.SignIn {

    & form {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
        height: 23rem;
        justify-content: space-between;

        & .submitButtonGroup {
            display: flex;
            justify-content: space-between;
        }
    }
}