.CheckoutMobileContainer, 
.CheckoutDesktopContainer {
    width: 100%;
    border-collapse: collapse;

    & tr {
        border-bottom: .1rem solid white;
    }

    & th {
        font-size: 1.7rem;
        padding: 1rem;
    }

    &>tbody {
        text-align: center;
        font-size: 1.5rem;

        & .thumb {
            width: 20%;
            height: 10rem;
            background-position: center;
            background-size: cover;
        }

        &>tr:nth-child(odd) {
            background-color: #f7f7f7;
        }
    }

    & .totalPrice {
        font-weight: bold;
        font-size: 2rem;
        border-bottom: .1rem solid black;
        letter-spacing: .2rem;
    }

    & .qtyGroup {
        display: flex;
        justify-content: center;

        &>* {
            margin: 0 .5rem;
        }
    }

    & .tblMobileFoot {
        text-align: right;
        font-size: 1.5rem;

        & td {
            padding: 1rem 0;
        }
    }
}

.CheckoutMobileContainer {
    text-align: left;

    & th {
        width: 5%;
    }
    & .borderRow {
        height: 3rem;
        background-color: #6d6d6d;
    }
}

@media(min-width: 500px) {
    .CheckoutMobileContainer {
        display: none;
    }
}

@media (max-width: 499px) {
    .CheckoutDesktopContainer {
        display: none;
    }
}