.photo-collection-preview {
    &-item {
        width: 100%;
        height: 45rem;

        &-footer {
            height: 10%;
            font-size: 1.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
    }
    &-image {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
    }
}