.photoCollectionPreviewContainer {
    &Item {
        width: 100%;
        height: 45rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &Footer {
            width: 100%;
            height: 10%;
            font-size: 1.6rem;
            display: flex;
            justify-content: space-between;
            align-items: center; 
        }

        & > button {
            position: absolute;
            opacity: .7;
            bottom: 6rem;
        }
    }
    &Image {
        width: 100%;
        height: 90%;
        background-size: cover;
        background-position: center;
    }
}