.photo-collection-preview {
    &-item {
        width: 100%;
        height: 35rem;

        &-footer {
            height: 5%;
            font-size: 1.6rem;
            display: flex;
            justify-content: space-between;
            padding: 1rem 0;
        }
    }
    &-image {
        width: 100%;
        height: 95%;
        background-size: cover;
        background-position: center;
    }
}