@mixin shrinkText {
    top: -2rem;
    font-size: 1.3rem;
    transition: all .3s ease-out;
}

.customInput {
    border: none;
    border-bottom: 1px solid black;

    &:focus {
        outline: none;

        &+.customLabel {
            @include shrinkText();
        }
    }

    &[type=password] {
        letter-spacing: .3rem;
    }
}

.customLabel {
    font-size: 1.6rem;
    color: darkgray;
    position: absolute;
    top: -0.5rem;
    transition: all .3s ease-in;

    &.shrink  {
        @include shrinkText();
    }
}

.elementGroup {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    position: relative;
    padding: 1rem 0;
}