* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

input, button {
  font-family: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  padding: 4rem 8rem;
}

h2 {
  font-size: 2.4rem;
}

@media (max-width: 780px) {
  body {
    padding: 4rem 4rem;
  }
}

@media (max-width: 680px) {
  body {
    padding: 4rem 2rem;
  }
}

@media (max-width: 350px) {
  body {
    padding: 4rem 2rem;
  }
}