.overlayEnter {
    opacity: 0;
}
.overlayEnterActive {
    opacity: .7;
    transition: opacity .3s;
}
.overlayEnterDone {
    opacity: .7;
}
.overlayExit{
    opacity: .7;
}
.overlayExitActive {
    opacity: 0;
    transition: opacity .3s;
}