@import '../../../mixins/UI.scss';  

.AddSubtractIconContainer {
    &:hover {
        @include buttonHover;
    }
}

.disabledAddSubtractIcon {
    opacity: .1;

    &:hover {
        cursor: default;
        color: inherit;
    }
}